body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
.login-container {
            background-color: white;
            background-image:url('images.jpg');
            background-repeat:no-repeat;
            background-size:cover;
            background-attachment:initial;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 550px;
 }
        h2 {
            text-align: center;
            margin-bottom: 16px;
            color: 242403;
            width: 350px;
            font-size: 20px;
        }

input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 2px solid #ccc;
            border-radius: 5px;
        }

button {
            width: 100%;
            padding: 10px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
button:hover {
            background-color: #0059cd;
        }


body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f4;
            margin: 0;
        }
        .hr-animated {
            width: 0;
            height: 2px;
            background-color: #cccf20;
            animation: grow 2s forwards;
        }
        @keyframes grow {
            to {
                width: 100%;
            }
        }


